:root {
  --pink: #f14e95;
  --bg: #0a0a0a;
  --shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Quicksand:wght@400;700&family=Satisfy&family=Work+Sans:ital,wght@0,100;0,400;0,600;0,700;1,600&display=swap');

body {
  font-size: 1.2rem;
  font-family: 'Work Sans', sans-serif;
  min-height: 2000px;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(img/wedding1.jpg);
  background-position: center;
  background-size: cover;
  z-index: -1;
  /* filter: grayscale(); */
}

.hero h1,
.hero h4,
.hero p {
  text-shadow: var(--shadow);
}


.hero {
  position: relative;
  min-height: 100vh;
  /* background-color: var(--bg); */
}

.hero h1 {
  font-family: 'satisfy';
  font-size: 6rem;
}

.hero p {
  font-size: 1.4rem;
}

.hero a {
  color: var(--pink);
  background-color: white;
  box-shadow: var(--shadow);
}

.hero a:hover {
  color: white;
  background-color: var(--pink);
}




/* Media Query */
/* Laptop */
@media (max-width: 992px) {
  html {
    font-size: 75%;
  }

  .simply-countdown>.simply-section {
    padding: 60px;
    margin: 5px;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 65%;
  }
}

/* Mobile Phone */
@media (max-width: 576px) {
  html {
    font-size: 60%;
  }

  .simply-countdown>.simply-section {
    padding: 45px;
    margin: 3px;
  }
}